html[data-theme='dark'] .header {
  // Color Debajo de la navegacion superior
  background-color: #17191A;
}

.header {
  background-color: var(--ifm-color-white);
}

.main {
  background-color: var(--grey-lighter);
}
